
<div *ngIf="payMaster">
    <h2><span jhiTranslate="logisticsApp.payMaster.detail.title">Pay Master</span> {{payMaster.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="logisticsApp.payMaster.paymasterID">Paymaster ID</span></dt>
        <dd>
            <span>{{payMaster.paymasterID}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.payMaster.payMasterName">Pay Master Name</span></dt>
        <dd>
            <span>{{payMaster.payMasterName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pay-master/'+ payMaster.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
