

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myPayTypeLabel" jhiTranslate="logisticsApp.payType.home.createOrEditLabel">Create or edit a Pay Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!payType.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="payType.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.payType.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="payType.amount"
            required />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.payType.sapCode" for="field_sapCode">Sap Code</label>
            <input type="text" class="form-control" name="sapCode" id="field_sapCode"
                [(ngModel)]="payType.sapCode"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.payType.serial" for="field_serial">Serial</label>
            <input type="text" class="form-control" name="serial" id="field_serial"
                [(ngModel)]="payType.serial"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.payType.paymentType" for="field_paymentType">Payment Type</label>
            <select class="form-control" name="paymentType" [(ngModel)]="payType.paymentType" id="field_paymentType"  required>
                <option value="CASH" jhiTranslate="logisticsApp.PaymentType.CASH">CASH</option>
                <option value="CARD" jhiTranslate="logisticsApp.PaymentType.CARD">CARD</option>
                <option value="LOYALTY_CARD" jhiTranslate="logisticsApp.PaymentType.LOYALTY_CARD">LOYALTY_CARD</option>
            </select>
            <div [hidden]="!(editForm.controls.paymentType?.dirty && editForm.controls.paymentType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paymentType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="logisticsApp.payType.receipt" for="field_receipt">Receipt</label>
            <select class="form-control" id="field_receipt" name="receipt" [(ngModel)]="payType.receiptId"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="receiptOption.id" *ngFor="let receiptOption of receipts; trackBy: trackReceiptById">{{receiptOption.docNum}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.receipt?.dirty && editForm.controls.receipt?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!receipt?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
