<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressLabel" jhiTranslate="logisticsApp.address.home.createOrEditLabel">Create or
            edit a Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!address.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="address.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.address.streetAddress"
                   for="field_streetAddress">Street Address</label>
            <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                   [(ngModel)]="address.streetAddress"
                   required/>
            <div [hidden]="!(editForm.controls.streetAddress?.dirty && editForm.controls.streetAddress?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.streetAddress?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label jhiTranslate="logisticsApp.address.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="address.countryId" required
                    (change)="setRegions()">
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id"
                        *ngFor="let locationOption of countries; trackBy: trackLocationById">
                    {{locationOption.name}}
                </option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.country?.dirty && editForm.controls.country?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.country?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="logisticsApp.address.region" for="field_region">Region</label>
            <select class="form-control" id="field_region" name="region" [(ngModel)]="address.regionId" required
                    (ngModelChange)="setDistricts()">
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id"
                        *ngFor="let locationOption of regions; trackBy: trackLocationById">{{locationOption.name}}
                </option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.region?.dirty && editForm.controls.region?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.region?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="logisticsApp.address.district" for="field_district">District</label>
            <select class="form-control" id="field_district" name="district" [(ngModel)]="address.districtId" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id"
                        *ngFor="let locationOption of districts; trackBy: trackLocationById">{{locationOption.name}}
                </option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.district?.dirty && editForm.controls.district?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.district?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group" jhiHasAuthority="ROLE_ADMIN">
            <label jhiTranslate="logisticsApp.address.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="address.clientId">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">
                    {{clientOption.firstName}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
