<div *ngIf="loyaltyCard">
    <h2><span jhiTranslate="logisticsApp.loyaltyCard.detail.title">Loyalty Card</span> {{loyaltyCard.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="logisticsApp.loyaltyCard.loyaltyCardID">Loyalty Card ID</span></dt>
        <dd>
            <span>{{loyaltyCard.loyaltyCardID}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.loyaltyCard.loyaltyCardAmount">Loyalty Card Amount</span></dt>
        <dd>
            <span>{{loyaltyCard.loyaltyCardAmount}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.loyaltyCard.loyaltyCardBonus">Loyalty Card Bonus</span></dt>
        <dd>
            <span>{{loyaltyCard.loyaltyCardBonus}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'loyalty-card/'+ loyaltyCard.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
