<div *ngIf="shop">
    <h2><span jhiTranslate="logisticsApp.shop.detail.title">Shop</span> {{shop.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="logisticsApp.shop.shopId">Shop Id</span></dt>
        <dd>
            <span>{{shop.shopId}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.name">Name</span></dt>
        <dd>
            <span>{{shop.name}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.bankAccountNumber">Bank Account Number</span></dt>
        <dd>
            <span>{{shop.bankAccountNumber}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.bankName">Bank Name</span></dt>
        <dd>
            <span>{{shop.bankName}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.bankBranchRegion">Bank Branch Region</span></dt>
        <dd>
            <span>{{shop.bankBranchRegion}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.mfo">Mfo</span></dt>
        <dd>
            <span>{{shop.mfo}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.tin">Tin</span></dt>
        <dd>
            <span>{{shop.tin}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.okonx">Okonx</span></dt>
        <dd>
            <span>{{shop.okonx}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.oked">Oked</span></dt>
        <dd>
            <span>{{shop.oked}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.shop.address">Address</span></dt>
        <dd>
            <div *ngIf="shop.addressId">
                <a [routerLink]="['/address', shop.addressId]">{{shop.addressStreetAddress}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'shop/'+ shop.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
