<div>
    <h2>
        <span jhiTranslate="logisticsApp.shop.home.title">Shops</span>
        <button class="btn btn-primary float-right create-shop"
                [routerLink]="['/', { outlets: { popup: ['shop-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="logisticsApp.shop.home.createLabel">
            Create new Shop
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="shops">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="shopId"><span jhiTranslate="logisticsApp.shop.shopId">Shop Id</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="logisticsApp.shop.name">Name</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="addressStreetAddress"><span jhiTranslate="logisticsApp.shop.address">Address</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shop of shops ;trackBy: trackId">
                <td><a [routerLink]="['../shop', shop.id ]">{{shop.id}}</a></td>
                <td>{{shop.shopId}}</td>
                <td>{{shop.name}}</td>
                <td>
                    <div *ngIf="shop.addressId">
                        <a [routerLink]="['../address', shop.addressId  ]">{{shop.addressStreetAddress}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../shop', shop.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'shop/'+ shop.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'shop/'+ shop.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="shops && shops.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
