<div class="row" *ngIf="client">
    <div class="col-md-12">
        <div class="card card-block">
            <h1>
                <span class="fa fa-user-circle"></span>
                {{client.firstName + ' ' + client.lastName}}
            </h1>
            <h6 *ngFor="let number of client.numbers">
                <span class="fa fa-mobile-phone"></span>
                {{number.number}}
            </h6>
            <h6 *ngFor="let address of client.addressDTOS">
                {{address.streetAddress + ', '+address.districtName+', ' + address.regionName}}
            </h6>
            <h6>Client since: {{client.regDate|date}}</h6>
        </div>
    </div>
</div>


<!--
<div *ngIf="client">
    <h2><span jhiTranslate="logisticsApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="logisticsApp.client.firstName">First Name</span></dt>
        <dd>
            <span>{{client.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.lastName">Last Name</span></dt>
        <dd>
            <span>{{client.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.regDate">Reg Date</span></dt>
        <dd>
            <span>{{client.regDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.phoneNumbers">Phone Numbers</span></dt>
        <dd>
            <ul *ngIf="client.numbers">
                <li *ngFor="let number of client.numbers">
                    <span class="tag tag-primary">{{number.type}}</span>
                    <span>{{number.number}}</span>
                </li>
            </ul>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.bankName">Bank Name</span></dt>
        <dd>
            <span>{{client.bankName}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.bankFilialRegion">Bank Filial Region</span></dt>
        <dd>
            <span>{{client.bankFilialRegion}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.bankAccountNumber">Bank Account Number</span></dt>
        <dd>
            <span>{{client.bankAccountNumber}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.mfo">Mfo</span></dt>
        <dd>
            <span>{{client.mfo}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.tin">Tin</span></dt>
        <dd>
            <span>{{client.tin}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.okonx">Okonx</span></dt>
        <dd>
            <span>{{client.okonx}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.client.oked">Oked</span></dt>
        <dd>
            <span>{{client.oked}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
-->
