<div *ngIf="seller">
    <h2><span jhiTranslate="logisticsApp.seller.detail.title">Seller</span> {{seller.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="logisticsApp.seller.sellerID">Seller ID</span></dt>
        <dd>
            <span>{{seller.sellerID}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.seller.sellerName">Seller Name</span></dt>
        <dd>
            <span>{{seller.sellerName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'seller/'+ seller.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
