<div id="print-section">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block btn-sm" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <div class="row">
                    <div class="col-md-3">
                        <span jhiTranslate="logisticsApp.receipt.detail.title">Receipt</span>
                        {{dataHolderService._receipt.id}}
                    </div>
                    <div class="col-md-3">
                        <span jhiTranslate="logisticsApp.receipt.docNum">Doc Num</span>: <span>{{dataHolderService._receipt.docNum}}</span>
                    </div>
                    <div class="col-md-3">
                        <span jhiTranslate="logisticsApp.receipt.docID">Doc ID</span>: <span>{{dataHolderService._receipt.docID}}</span>
                    </div>
                </div>
            </button>
        </div>
    </div>
    <div [ngbCollapse]="isCollapsed" id="collapseExample">
        <div class="row small">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12 font-weight-bold text-muted">
                        <span jhiTranslate="logisticsApp.client.detail.title">Client</span>
                    </div>
                </div>
                <div class="row" *ngIf="dataHolderService._client">
                    <div class="col-md-3 text-muted">
                        <h1 class="display-4">
                            <span class="fa fa-user"></span>
                        </h1>
                    </div>
                    <div class="col-md-9">
                        <span jhiTranslate="logisticsApp.client.detail.title">Client</span> :
                        {{client.id}}
                        <p class="card-text">
                            <span jhiTranslate="logisticsApp.client.fullName">Full Name</span>
                            : {{client.firstName + ' ' + client.lastName}}
                            <br/>
                            <span jhiTranslate="logisticsApp.client.clientSince">Client since</span>
                            : {{client.regDate | date: 'dd-MM-yyyy HH:mm'}}
                        </p>
                    </div>
                </div>
                <div class="row"
                     *ngIf="dataHolderService._client &&
                      dataHolderService._receipt.status!==receiptStatusEnum.DELIVERED &&
                       dataHolderService._receipt.status!==receiptStatusEnum.TAKEOUT">
                    <div class="col-md-12" *ngIf="receipt.address">
                        <button class="btn btn-sm btn-block btn-success"
                                [routerLink]="['/', { outlets: { popup: 'address/'+ receipt.address.id + '/edit'} }]">
                            <span class="fa fa-pencil"></span>
                            <span jhiTranslate="logisticsApp.address.home.editLabel">Edit Address</span>
                        </button>
                    </div>
                </div>
                <div class="row" *ngIf="receipt.receiver">
                    <div class="col-md-3 text-muted">
                        <h1 class="display-4">
                            <span class="fa fa-building"></span>
                        </h1>
                    </div>
                    <div class="col-md-9">
                        <span jhiTranslate="logisticsApp.client.detail.title">Client</span> :
                        {{receipt.receiver.id}}
                        <p class="card-text">
                            <span jhiTranslate="logisticsApp.company.name">Name</span>
                            : {{receipt.receiver.name}}
                            <br/>
                            <span jhiTranslate="logisticsApp.company.type">Type</span>
                            : <span jhiTranslate="{{'logisticsApp.CompanyType.'+receipt.receiver.type}}">
                                {{receipt.receiver.type}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-10" *ngIf="dataHolderService._receipt">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row text-muted font-weight-bold" title="Products">
                            <div class="col-md-2">
                                <span jhiTranslate="logisticsApp.product.home.title">Products</span>
                            </div>
                            <div class="col-md-2">
                                <span jhiTranslate="logisticsApp.productEntry.status">Status</span>
                            </div>
                            <div class="col-md-2">
                                <span jhiTranslate="logisticsApp.address.home.title">Addresses</span>
                            </div>
                            <div class="col-md-2">
                                <span
                                    jhiTranslate="logisticsApp.productEntry.attachedToCarTime">Attached To Car Time</span>
                            </div>
                            <div class="col-md-1" *ngIf="productCarExists">
                                <span jhiTranslate="logisticsApp.productEntry.attachedCar">Attached Car</span>
                            </div>
                            <div class="col-md-2" *ngIf="productCarExists">
                                <span jhiTranslate="logisticsApp.productEntry.deliveryStartTime">
                                    Delivery Start Time
                                </span>
                            </div>
                            <div class="col-md-1" *ngIf="productCarExists">
                                <span jhiTranslate="logisticsApp.productEntry.deliveryEndTime">Delivery End Time</span>
                            </div>
                        </div>
                        <div class="row" *ngFor="let product of receipt.productEntries">
                            <div class="col-md-2">
                                <span>{{product.productName}}</span>
                            </div>
                            <div class="col-md-2">
                                <span class="tag tag-default"
                                      jhiTranslate="{{'logisticsApp.ReceiptStatus.' + product.status}}">
                                    {{product.status}}
                                </span>
                            </div>
                            <div class="col-md-2">
                                <span *ngIf="product.address.streetAddress">{{product.address.streetAddress}},</span>
                                <span *ngIf="product.address.districtName">{{product.address.districtName}},</span>
                                <span *ngIf="product.address.regionName">{{product.address.regionName}}</span>
                            </div>
                            <div class="col-md-2" *ngIf="product.attachedCarId">
                                <span class="fa fa-clock-o"></span>
                                {{product.attachedToCarTime|date: 'dd-MM-yyyy HH:mm'}}
                            </div>
                            <div class="col-md-1" *ngIf="product.attachedCarId">
                                <span class="fa fa-car"></span>
                                <span>{{product.attachedCarNumber}}</span>
                            </div>
                            <div class="col-md-2" *ngIf="product.deliveryStartTime">
                                <span class="fa fa-clock-o"></span>
                                <span>{{product.deliveryStartTime|date: 'dd-MM-yyyy HH:mm'}}</span>
                            </div>
                            <div class="col-md-1" *ngIf="product.deliveryEndTime">
                                <span class="fa fa-clock-o"></span>
                                <span>{{product.deliveryEndTime|date: 'dd-MM-yyyy HH:mm'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row small" jhiHasAnyAuthority="ROLE_DISPATCHER,ROLE_ADMIN">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <span class="font-weight-bold" jhiTranslate="logisticsApp.receipt.docDate">Doc Date</span>:
                    </div>
                    <div class="col-md-3">
                        {{dataHolderService._receipt.docDate | date: 'dd-MM-yyyy HH:mm'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    <span class="font-weight-bold"
                          jhiTranslate="logisticsApp.receipt.sentToDCTime">Sent To DC Time</span>:
                    </div>
                    <div class="col-md-3">
                        {{dataHolderService._receipt.sentToDCTime | date: 'dd-MM-yyyy HH:mm'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <span class="font-weight-bold"
                              jhiTranslate="logisticsApp.receipt.deliveryDate">Delivery Date</span>:
                    </div>
                    <div class="col-md-3">
                        {{dataHolderService._receipt.deliveryDate | date: 'dd-MM-yyyy' }}
                        &nbsp;
                        <span jhiTranslate="logisticsApp.receipt.startTime">Start Time</span>:
                        {{dataHolderService._receipt.fromTime}}
                        &nbsp;
                        <span jhiTranslate="logisticsApp.receipt.endTime">Start Time</span>:
                        {{dataHolderService._receipt.toTime}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
