<div *ngIf="receipt">
    <h2 jhiTranslate="entity.action.sendOrderTitle" translateValues="{orderId: '{{receipt.id}}'}">Send Order</h2>
    <jhi-collapsed-receipt></jhi-collapsed-receipt>
    <div class="row">&nbsp;</div>
    <jhi-alert-error></jhi-alert-error>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span jhiTranslate="logisticsApp.product.home.title">Products</span>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" (change)="productAllChecked()" [checked]="isAllChecked">
                                    </th>
                                    <th jhiTranslate="logisticsApp.productEntry.productName">Product Name</th>
                                    <th jhiTranslate="logisticsApp.productEntry.qty">Quantity</th>
                                    <th jhiTranslate="logisticsApp.productEntry.status">Status</th>
                                    <th jhiTranslate="logisticsApp.productEntry.deliveryFlag">Delivery Flag</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let product of productEntries">
                                    <td>
                                        <input type="checkbox" (change)="productChecked(product)"
                                               [checked]="product.selected"/>
                                    </td>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.qty}}</td>
                                    <td>
                                        <span class="badge badge-default"
                                              jhiTranslate="{{'logisticsApp.ReceiptStatus.' + product.status}}">
                                            {{product.status}}
                                        </span>
                                    </td>
                                    <td>
                                        <select class="form-control" name="deliveryFlag"
                                                [(ngModel)]="product.deliveryFlag" id="field_deliveryFlag">
                                            <option value="TAKEOUT" jhiTranslate="logisticsApp.SalesType.TAKEOUT">
                                                TAKEOUT
                                            </option>
                                            <option value="DELIVERY" jhiTranslate="logisticsApp.SalesType.DELIVERY">
                                                DELIVERY
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-3" *ngIf="receipt.wholeSaleFlag===wholeSaleFlagEnum.RETAIL">
                            <div>
                                <label for="startTime" jhiTranslate="logisticsApp.receipt.startTime">Start Time</label>
                                <ngb-timepicker [(ngModel)]="startTime" id="startTime"></ngb-timepicker>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="receipt.wholeSaleFlag===wholeSaleFlagEnum.RETAIL">
                            <div>
                                <label for="endTime" jhiTranslate="logisticsApp.receipt.endTime">End Time</label>
                                <ngb-timepicker [(ngModel)]="endTime" id="endTime"></ngb-timepicker>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon" for="deliveryDate"
                                       jhiTranslate="logisticsApp.receipt.deliveryDate">Delivery
                                    Date</label>
                                <input ngbDatepicker #d="ngbDatepicker" [minDate]="minDate" [(ngModel)]="deliveryDate"
                                       id="deliveryDate"
                                       [startDate]="minDate" (click)="d.toggle()" class="form-control"
                                       name="deliveryDate">
                                <span class="fa fa-calendar input-group-addon" (click)="d.toggle()"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row" *ngIf="productsSelected.length>0">
                        <div class="col-md-2 offset-md-7"
                             *ngIf="receipt.wholeSaleFlag===wholeSaleFlagEnum.RETAIL && startTime && endTime && deliveryDate">
                            <button class="btn btn-sm btn-primary btn-block" (click)="goClientSelectStep()">
                                <span jhiTranslate="global.form.next">Next</span>
                                <span class="fa fa-arrow-circle-right"></span>
                            </button>
                        </div>
                        <div class="col-md-2 offset-md-7"
                             *ngIf="receipt.wholeSaleFlag===wholeSaleFlagEnum.WHOLESALE && deliveryDate">
                            <button class="btn btn-sm btn-primary btn-block" (click)="goClientSelectStep()">
                                <span jhiTranslate="global.form.next">Next</span>
                                <span class="fa fa-arrow-circle-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info btn-sm">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
    <hr>
</div>
