<div>
    <h2><span jhiTranslate="logisticsApp.receipt.home.title">Receipts</span>
        <button class="btn btn-primary float-xs-right create-receipt" [routerLink]="['/', { outlets: { popup: ['receipt-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="logisticsApp.receipt.home.createLabel">
            Create new Receipt
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="receipts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docNum"><span jhiTranslate="logisticsApp.receipt.docNum">Doc Num</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docID"><span jhiTranslate="logisticsApp.receipt.docID">Doc ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docType"><span jhiTranslate="logisticsApp.receipt.docType">Doc Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="previousDocID"><span jhiTranslate="logisticsApp.receipt.previousDocID">Previous Doc ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docDate"><span jhiTranslate="logisticsApp.receipt.docDate">Doc Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="discount"><span jhiTranslate="logisticsApp.receipt.discount">Discount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="payMasterPayMasterName"><span jhiTranslate="logisticsApp.receipt.payMaster">Pay Master</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="loyaltyCardLoyaltyCardID"><span jhiTranslate="logisticsApp.receipt.loyaltyCard">Loyalty Card</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="statusName"><span jhiTranslate="logisticsApp.receipt.status">Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receipt of receipts ;trackBy: trackId">
                <td><a [routerLink]="['../receipt', receipt.id ]">{{receipt.id}}</a></td>
                <td>{{receipt.docNum}}</td>
                <td>{{receipt.docID}}</td>
                <td jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}">{{receipt.docType}}</td>
                <td>{{receipt.previousDocID}}</td>
                <td>{{receipt.docDate}}</td>
                <td>{{receipt.discount}}</td>
                <td>
                    <div *ngIf="receipt.payMasterId">
                        <a [routerLink]="['../pay-master', receipt.payMasterId  ]" >{{receipt.payMasterPayMasterName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="receipt.loyaltyCardId">
                        <a [routerLink]="['../loyalty-card', receipt.loyaltyCardId  ]" >{{receipt.loyaltyCardLoyaltyCardID}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="receipt.statusId">
                        <a [routerLink]="['../receipt-status', receipt.statusId  ]" >{{receipt.statusName}}</a>
                    </div>
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../receipt', receipt.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-xs-center" *ngIf="receipts && receipts.length">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
</div>
