<div>
    <h2>
        <span jhiTranslate="logisticsApp.receipt.home.newTitle">New Applications</span>
    </h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="appliedReceipts">
        <table class="table table-striped small">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="clientFirstName"><span jhiTranslate="logisticsApp.receipt.client">Client</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="companyId"><span jhiTranslate="logisticsApp.receipt.companyId">Company</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="productEntries"><span
                    jhiTranslate="logisticsApp.receipt.productEntries">Product Entries</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="docDate"><span jhiTranslate="logisticsApp.receipt.docDate">Doc Date</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="docType"><span jhiTranslate="logisticsApp.receipt.docType">Doc Type</span> <span
                    class="fa fa-sort"></span></th>
                <th>
                    <span jhiTranslate="logisticsApp.receipt.deliveryDateTime">Delivery Date</span>
                </th>
                <th jhiSortBy="address.region">
                    <span jhiTranslate="logisticsApp.address.region">Region</span> <span
                    class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="address.district">
                    <span jhiTranslate="logisticsApp.address.district">District</span> <span
                    class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="address">
                    <span jhiTranslate="logisticsApp.receipt.address">Addresses</span> <span
                    class="fa fa-sort"></span>
                </th>
                <th jhiSortBy="cars"><span jhiTranslate="logisticsApp.receipt.cars">Cars</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="status"><span jhiTranslate="logisticsApp.receipt.status">Status</span> <span
                    class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receipt of appliedReceipts ;trackBy: trackId">
                <td>{{receipt.id}}</td>
                <td>
                    <div *ngIf="receipt.clientId">
                        <a [routerLink]="['../client', receipt.clientId  ]">
                            {{receipt.client.firstName+' '+receipt.client.lastName}}
                        </a>
                    </div>
                    <div *ngIf="receipt.receiver">
                        <a [routerLink]="['../company', receipt.receiver.id  ]">{{receipt.receiver.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="receipt.companyName">
                        <a [routerLink]="['../company', receipt.companyId  ]">{{receipt.companyName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="receipt.productEntries && receipt.productEntries.length>0">
                        <div *ngFor="let prod of receipt.productEntries">
                            <span class="fa fa-shopping-bag"></span>
                            {{prod.product.name}}
                        </div>
                    </div>
                </td>
                <td>{{receipt.docDate | date: 'dd-MM-yyyy HH:mm'}}</td>
                <td>
                    <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}" class="tag tag-success"
                          *ngIf="receipt.docType === docTypeEnum.SALES">
                    {{receipt.docType}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}" class="tag tag-danger"
                          *ngIf="receipt.docType === docTypeEnum.RETURN">
                    {{receipt.docType}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}" class="tag tag-info"
                          *ngIf="receipt.docType === docTypeEnum.DISPLACEMENT">
                    {{receipt.docType}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}" class="tag tag-primary"
                          *ngIf="receipt.docType === docTypeEnum.INCOMING">
                    {{receipt.docType}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}" class="tag tag-warning"
                          *ngIf="receipt.docType === docTypeEnum.OUTGOING">
                    {{receipt.docType}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}" class="tag tag-default"
                          *ngIf="receipt.docType === docTypeEnum.CREDIT">
                    {{receipt.docType}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}" class="tag tag-default"
                          *ngIf="receipt.docType === docTypeEnum.INSTALLMENT">
                    {{receipt.docType}}
                    </span>
                </td>
                <td>
                    <span *ngIf="receipt.fromTime && receipt.toTime">
                        {{receipt.deliveryDate | date}}{{', ' + receipt.fromTime + ' - '+ receipt.toTime}}
                    </span>
                </td>
                <td>
                    <div *ngIf="receipt.address && receipt.address.regionName">
                        {{receipt.address.regionName}}
                    </div>
                </td>
                <td>
                    <div *ngIf="receipt.address && receipt.address.districtName">
                        {{receipt.address.districtName}}
                    </div>
                </td>
                <td>
                    <div *ngIf="receipt.address">
                        <span class="fa fa-location-arrow"></span>
                        {{receipt.address.streetAddress}}
                    </div>
                </td>
                <td>
                    <div
                        *ngIf="receipt.productEntries && receipt.productEntries[0] && receipt.productEntries[0].attachedCarNumber">
                        {{receipt.productEntries[0].attachedCarNumber}}
                    </div>
                </td>
                <td>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + receipt.status}}" class="tag tag-info"
                          *ngIf="receipt.status === receiptStatusEnum.NEW">{{receipt.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + receipt.status}}" class="tag tag-primary"
                          *ngIf="receipt.status === receiptStatusEnum.APPLICATION_SENT">{{receipt.status}}</span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + receipt.status}}" class="tag tag-warning"
                          *ngIf="receipt.status === receiptStatusEnum.ATTACHED_TO_DRIVER">{{receipt.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + receipt.status}}" class="tag tag-default"
                          *ngIf="receipt.status === receiptStatusEnum.DELIVERY_PROCESS">{{receipt.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + receipt.status}}" class="tag tag-success"
                          *ngIf="receipt.status === receiptStatusEnum.DELIVERED">
                        {{receipt.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + receipt.status}}" class="tag tag-danger"
                          *ngIf="receipt.status === receiptStatusEnum.CANCELLED">
                        {{receipt.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + receipt.status}}" class="tag tag-danger"
                          *ngIf="receipt.status === receiptStatusEnum.TAKEOUT">
                        {{receipt.status}}
                    </span>
                </td>
                <td class="text-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="attachToDriver(receipt.id)"
                            *ngIf="receipt.status==receiptStatusEnum.APPLICATION_SENT">
                        <span class="fa fa-car"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.attachDriver">Attach to Driver</span>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="attachToDriver(receipt.id)"
                            *ngIf="receipt.status==receiptStatusEnum.ATTACHED_TO_DRIVER">
                        <span class="fa fa-car"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.attachAnotherDriver">Attach to Another Driver</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="viewReceipt(receipt.id)">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="appliedReceipts && appliedReceipts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
