

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myReceiptLabel" jhiTranslate="logisticsApp.receipt.home.createOrEditLabel">Create or edit a Receipt</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!receipt.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="receipt.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.receipt.docNum" for="field_docNum">Doc Num</label>
            <input type="text" class="form-control" name="docNum" id="field_docNum"
                [(ngModel)]="receipt.docNum"
            required />
            <div [hidden]="!(editForm.controls.docNum?.dirty && editForm.controls.docNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.docNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.receipt.docID" for="field_docID">Doc ID</label>
            <input type="text" class="form-control" name="docID" id="field_docID"
                [(ngModel)]="receipt.docID"
            required />
            <div [hidden]="!(editForm.controls.docID?.dirty && editForm.controls.docID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.docID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.receipt.docType" for="field_docType">Doc Type</label>
            <select class="form-control" name="docType" [(ngModel)]="receipt.docType" id="field_docType"  required>
                <option value="RETURN" jhiTranslate="logisticsApp.DocType.RETURN">RETURN</option>
                <option value="SALES" jhiTranslate="logisticsApp.DocType.SALES">SALES</option>
            </select>
            <div [hidden]="!(editForm.controls.docType?.dirty && editForm.controls.docType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.docType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.receipt.previousDocID" for="field_previousDocID">Previous Doc ID</label>
            <input type="text" class="form-control" name="previousDocID" id="field_previousDocID"
                [(ngModel)]="receipt.previousDocID"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.receipt.docDate" for="field_docDate">Doc Date</label>
            <input type="number" class="form-control" name="docDate" id="field_docDate"
                [(ngModel)]="receipt.docDate"
            required />
            <div [hidden]="!(editForm.controls.docDate?.dirty && editForm.controls.docDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.docDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.docDate?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="logisticsApp.receipt.wholeSaleFlag" for="field_wholeSaleFlag">Whole Sale Flag</label>
            <select class="form-control" name="wholeSaleFlag" [(ngModel)]="receipt.wholeSaleFlag" id="field_wholeSaleFlag"  required>
                <option value="RETAIL" jhiTranslate="logisticsApp.WholeSaleFlag.RETAIL">RETAIL</option>
                <option value="WHOLESALE" jhiTranslate="logisticsApp.WholeSaleFlag.WHOLESALE">WHOLESALE</option>
            </select>
            <div [hidden]="!(editForm.controls.wholeSaleFlag?.dirty && editForm.controls.wholeSaleFlag?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wholeSaleFlag?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="logisticsApp.receipt.payMaster" for="field_payMaster">Pay Master</label>
            <select class="form-control" id="field_payMaster" name="payMaster" [(ngModel)]="receipt.payMasterId"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="payMasterOption.id" *ngFor="let payMasterOption of paymasters; trackBy: trackPayMasterById">{{payMasterOption.payMasterName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.payMaster?.dirty && editForm.controls.payMaster?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!payMaster?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="logisticsApp.receipt.loyaltyCard" for="field_loyaltyCard">Loyalty Card</label>
            <select class="form-control" id="field_loyaltyCard" name="loyaltyCard" [(ngModel)]="receipt.loyaltyCardId"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="loyaltyCardOption.id" *ngFor="let loyaltyCardOption of loyaltycards; trackBy: trackLoyaltyCardById">{{loyaltyCardOption.loyaltyCardID}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.loyaltyCard?.dirty && editForm.controls.loyaltyCard?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!loyaltyCard?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="logisticsApp.receipt.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" [(ngModel)]="receipt.statusId"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="receiptStatusOption.id" *ngFor="let receiptStatusOption of receiptstatuses; trackBy: trackReceiptStatusById">{{receiptStatusOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!status?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="logisticsApp.receipt.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="receipt.clientId"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.firstName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.client?.dirty && editForm.controls.client?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!client?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
