<div *ngIf="receipt">
    <h2 jhiTranslate="entity.action.sendOrderTitle" translateValues="{orderId: '{{receipt.id}}'}">Send Order</h2>
    <jhi-collapsed-receipt></jhi-collapsed-receipt>
    <div class="row">&nbsp;</div>
    <jhi-alert-error></jhi-alert-error>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span jhiTranslate="logisticsApp.product.home.title">Products</span>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" (change)="productAllChecked()" [checked]="isAllChecked">
                                    </th>
                                    <th jhiTranslate="logisticsApp.productEntry.productName">Product Name</th>
                                    <th jhiTranslate="logisticsApp.productEntry.qty">Quantity</th>
                                    <th jhiTranslate="logisticsApp.productEntry.status">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let product of receipt.productEntries">
                                    <td *ngIf="!product.addressId">
                                        <input type="checkbox" (change)="productChecked(product)"
                                               [checked]="product.selected"/>
                                    </td>
                                    <td *ngIf="!product.addressId">{{product.productName}}</td>
                                    <td *ngIf="!product.addressId">{{product.qty}}</td>
                                    <td *ngIf="!product.addressId">{{product.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success">
                                <span jhiTranslate="logisticsApp.receipt.deliveryMessage"></span>
                                <!--<span jhiTranslate="logisticsApp.receipt.deliveryTimeMessage"
                                      *ngIf="receipt.fromTime && receipt.toTime"
                                      translateValues="{time1:'{{receipt.fromTime}}', time2:'{{receipt.toTime}}'}">
                                </span>-->
                            </div>
                        </div>
                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-3" *ngIf="!receipt.fromTime">
                            <label for="startTime" jhiTranslate="logisticsApp.receipt.startTime">Start Time</label>
                            <ngb-timepicker [(ngModel)]="startTime" id="startTime" name="startTime"></ngb-timepicker>
                        </div>
                        <div class="col-md-3" *ngIf="!receipt.toTime">
                            <label for="endTime" jhiTranslate="logisticsApp.receipt.endTime">End Time</label>
                            <ngb-timepicker [(ngModel)]="endTime" id="endTime" name="endTime"></ngb-timepicker>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row" *ngIf="productsSelected.length>0">
                        <div class="col-md-2 offset-md-7">
                            <button class="btn btn-sm btn-primary btn-block" (click)="goClientSelectStep()">
                                <span jhiTranslate="global.form.next">Next</span>
                                <span class="fa fa-arrow-circle-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info btn-sm">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
    <hr>
</div>
