
<div *ngIf="receipt">
    <h2><span jhiTranslate="logisticsApp.receipt.detail.title">Receipt</span> {{receipt.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="logisticsApp.receipt.docNum">Doc Num</span></dt>
        <dd>
            <span>{{receipt.docNum}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.docID">Doc ID</span></dt>
        <dd>
            <span>{{receipt.docID}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.docType">Doc Type</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}">{{receipt.docType}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.previousDocID">Previous Doc ID</span></dt>
        <dd>
            <span>{{receipt.previousDocID}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.docDate">Doc Date</span></dt>
        <dd>
            <span>{{receipt.docDate}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.payMaster">Pay Master</span></dt>
        <dd>
            <div *ngIf="receipt.payMasterId">
                <a [routerLink]="['pay-master', receipt.payMasterId]">{{receipt.payMasterPayMasterName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.loyaltyCard">Loyalty Card</span></dt>
        <dd>
            <div *ngIf="receipt.loyaltyCardId">
                <a [routerLink]="['loyalty-card', receipt.loyaltyCardId]">{{receipt.loyaltyCardLoyaltyCardID}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.product">Product</span></dt>
        <dd>
            <div *ngIf="receipt.productId">
                <a [routerLink]="['product', receipt.productId]">{{receipt.productName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.payType">Pay Type</span></dt>
        <dd>
            <div *ngIf="receipt.payTypeId">
                <a [routerLink]="['pay-type', receipt.payTypeId]">{{receipt.payTypeSapCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.status">Status</span></dt>
        <dd>
            <div *ngIf="receipt.statusId">
                <a [routerLink]="['receipt-status', receipt.statusId]">{{receipt.statusName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.drivers">Drivers</span></dt>
        <dd>
            <span *ngFor="let drivers of receipt.drivers; let last = last">
                <a [routerLink]="['/driver', drivers?.id ]">{{drivers.lastName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
