<div *ngIf="receipt">
    <h2><span jhiTranslate="logisticsApp.receipt.detail.title">Receipt</span> {{receipt.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <!--<dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="logisticsApp.receipt.docNum">Doc Num</span></dt>
        <dd>
            <span>{{receipt.docNum}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.docID">Doc ID</span></dt>
        <dd>
            <span>{{receipt.docID}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.docType">Doc Type</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.DocType.' + receipt.docType}}">{{receipt.docType}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.previousDocID">Previous Doc ID</span></dt>
        <dd>
            <span>{{receipt.previousDocID}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.docDate">Doc Date</span></dt>
        <dd>
            <span>{{receipt.docDate | date}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.wholeSaleFlag">Whole Sale Flag</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.WholeSaleFlag.' + receipt.wholeSaleFlag}}">{{receipt.wholeSaleFlag}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + receipt.status}}">{{receipt.status}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.sentToDCTime">Sent To DC Time</span></dt>
        <dd>
            <span>{{receipt.sentToDCTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.deliveredTime">Delivered Time</span></dt>
        <dd>
            <span>{{receipt.deliveredTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.payMaster">Pay Master</span></dt>
        <dd>
            <div *ngIf="receipt.payMasterId">
                <a [routerLink]="['/pay-master', receipt.payMasterId]">{{receipt.payMasterPayMasterName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.loyaltyCard">Loyalty Card</span></dt>
        <dd>
            <div *ngIf="receipt.loyaltyCardId">
                <a [routerLink]="['/loyalty-card', receipt.loyaltyCardId]">{{receipt.loyaltyCardLoyaltyCardID}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.client">Client</span></dt>
        <dd>
            <div *ngIf="receipt.clientId">
                <a [routerLink]="['/client', receipt.clientId]">{{receipt.clientFirstName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.addresses">Addresses</span></dt>
        <dd>
            <span *ngFor="let addresses of receipt.addresses; let last = last">
                <a [routerLink]="['/address', addresses?.id ]">{{addresses.streetAddress}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.sentBy">Sent By</span></dt>
        <dd>
            {{receipt.sentByLogin}}
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.markedAsDeliveredBy">Marked As Delivered By</span></dt>
        <dd>
            {{receipt.markedAsDeliveredByLogin}}
        </dd>
        <dt><span jhiTranslate="logisticsApp.receipt.shopId">Shop Id</span></dt>
        <dd>
            <div *ngIf="receipt.shopId">
                <a [routerLink]="['/shop', receipt.shopId]">{{receipt.shopName}}</a>
            </div>
        </dd>
    </dl>-->
    <jhi-collapsed-receipt></jhi-collapsed-receipt>
    <div class="row" jhiHasAuthority="ROLE_DISPATCHER" *ngIf="receipt.status===receiptStatusEnum.DELIVERY_PROCESS">
        <div class="col-md-2 offset-md-8">
            <label for="deliveryTime" jhiTranslate="logisticsApp.receipt.deliveredTime"></label>
            <ngb-timepicker [(ngModel)]="deliveredTime" id="deliveryTime"></ngb-timepicker>
        </div>
        <div class="col-md-2">
            <label for="deliveryTime" jhiTranslate="logisticsApp.receipt.deliveryDate"></label>
            <div class="input-group">
                <input ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" class="form-control"
                       [(ngModel)]="deliveredDate" id="deliveryDate">
                <div class="input-group-addon" (click)="d.toggle()"
                     style="width: 1.2rem; height: 1rem; cursor: pointer;">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-sm btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </div>
        <div class="col-md-2 offset-md-8">
            <button type="submit" jhiHasAuthority="ROLE_CASHIER"
                    (click)="takenOut()"
                    class="btn btn-sm btn-primary btn-block">
                <span class="fa fa-user"></span>&nbsp;<span jhiTranslate="entity.action.takeOut"> TakeOut</span>&nbsp;
                <span class="fa fa-car"></span>
            </button>
        </div>

        <div class="col-md-2 offset-md-8" *ngIf="deliveredDate && deliveredTime">
            <button type="submit" jhiHasAuthority="ROLE_DISPATCHER"
                    (click)="delivered()"
                    class="btn btn-sm btn-success btn-block">
                <span class="fa fa-check-square"></span>&nbsp;<span
                jhiTranslate="entity.action.delivered"> Delivered</span>
            </button>
        </div>
    </div>

    <!--<button type="button"
            [routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>-->
</div>
<div class="row">&nbsp;</div>
