<div>
    <h2><span jhiTranslate="logisticsApp.productEntry.home.title">Product Entries</span></h2>
    <div class="row">
        <div class="col-md-6">
            <form name="searchForm" role="form" novalidate (ngSubmit)="searchByCar()" #searchForm="ngForm">
                <div class="input-group">
                    <label class="form-control-label input-group-addon" jhiTranslate="logisticsApp.car.number"
                           for="field_car_number">Number</label>
                    <input type="text" class="form-control" name="carNumber" id="field_car_number"
                           [(ngModel)]="carNumber"/>
                    <span class="input-group-btn">
                            <button class="btn btn-primary">
                                <span jhiTranslate="entity.action.search">Search</span>
                            </button>
                        </span>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productEntries && productEntries.length>0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                <th>
                    <input type="checkbox" (change)="productAllChecked()" [checked]="isAllChecked"/>
                </th>
                <th jhiSortBy="companyId"><span jhiTranslate="logisticsApp.productEntry.companyId">Company</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="productName"><span jhiTranslate="logisticsApp.productEntry.product">Product</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="price"><span jhiTranslate="logisticsApp.productEntry.price">Price</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="deliveryFlag"><span
                    jhiTranslate="logisticsApp.productEntry.deliveryFlag">Delivery Flag</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="hallFlag"><span jhiTranslate="logisticsApp.productEntry.hallFlag">Hall Flag</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="virtualFlag"><span
                    jhiTranslate="logisticsApp.productEntry.virtualFlag">Virtual Flag</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="qty"><span jhiTranslate="logisticsApp.productEntry.qty">Qty</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="status"><span jhiTranslate="logisticsApp.productEntry.status">Status</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="receiptDocNum"><span jhiTranslate="logisticsApp.productEntry.receipt">Receipt</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="attachedCarNumber"><span jhiTranslate="logisticsApp.productEntry.attachedCar">Attached Car</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="addressStreetAddress"><span
                    jhiTranslate="logisticsApp.productEntry.address">Address</span> <span class="fa fa-sort"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productEntry of productEntries ;trackBy: trackId">
                <td><input type="checkbox" (change)="productChecked(productEntry)" [checked]="productEntry.selected"/>
                </td>
                <td>
                    <div *ngIf="productEntry.companyId">
                        <a [routerLink]="['../company', productEntry.companyId ]">{{productEntry.companyName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productEntry.product">
                        <a [routerLink]="['../product', productEntry.product.id ]">{{productEntry.product.name}}</a>
                    </div>
                </td>
                <td>{{productEntry.price}}</td>
                <td>
                    <span jhiTranslate="{{'logisticsApp.SalesType.' + productEntry.deliveryFlag}}"
                          class="badge badge-danger">
                        {{productEntry.deliveryFlag}}
                    </span>
                </td>
                <td>
                    <span jhiTranslate="{{'logisticsApp.SalesPlace.' + productEntry.hallFlag}}" class="badge badge-default">
                        {{productEntry.hallFlag}}
                    </span>
                </td>
                <td>
                    <span jhiTranslate="{{'logisticsApp.VirtualFlag.' + productEntry.virtualFlag}}"
                          class="badge badge-default">
                    {{productEntry.virtualFlag}}
                    </span>
                </td>
                <td>{{productEntry.qty}}</td>
                <td>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + productEntry.status}}" class="badge badge-info"
                          *ngIf="productEntry.status === receiptStatusEnum.NEW">{{productEntry.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + productEntry.status}}" class="badge badge-primary"
                          *ngIf="productEntry.status === receiptStatusEnum.APPLICATION_SENT">{{productEntry.status}}</span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + productEntry.status}}" class="badge badge-warning"
                          *ngIf="productEntry.status === receiptStatusEnum.ATTACHED_TO_DRIVER">{{productEntry.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + productEntry.status}}" class="badge badge-default"
                          *ngIf="productEntry.status === receiptStatusEnum.DELIVERY_PROCESS">{{productEntry.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + productEntry.status}}" class="badge badge-success"
                          *ngIf="productEntry.status === receiptStatusEnum.DELIVERED">
                        {{productEntry.status}}
                    </span>
                    <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + productEntry.status}}" class="badge badge-danger"
                          *ngIf="productEntry.status === receiptStatusEnum.CANCELLED">
                        {{productEntry.status}}
                    </span>
                </td>
                <td>
                    <div *ngIf="productEntry.receiptId">
                        <a [routerLink]="['../receipt', productEntry.receiptId  ]">{{productEntry.receiptDocNum}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productEntry.attachedCarId">
                        <a [routerLink]="['../car', productEntry.attachedCarId  ]">{{productEntry.attachedCarNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productEntry.addressId">
                        <a [routerLink]="['../address', productEntry.addressId  ]">{{productEntry.addressStreetAddress}}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" *ngIf="productsSelected.length>0">
        <div class="col-md-2 offset-md-10">
            <button class="btn btn-sm btn-primary btn-block" (click)="deliverProducts()">
                <span jhiTranslate="entity.action.deliver">Deliver</span>
            </button>
        </div>
    </div>
</div>
