<div>
    <h2><span jhiTranslate="logisticsApp.productEntry.home.title">Product Entries</span>
        <button class="btn btn-primary float-xs-right create-product-entry"
                [routerLink]="['/', { outlets: { popup: ['product-entry-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="logisticsApp.productEntry.home.createLabel">
            Create new Product Entry
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productEntries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="productName"><span jhiTranslate="logisticsApp.productEntry.product">Product</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="price"><span jhiTranslate="logisticsApp.productEntry.price">Price</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="deliveryFlag"><span
                    jhiTranslate="logisticsApp.productEntry.deliveryFlag">Delivery Flag</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="hallFlag"><span jhiTranslate="logisticsApp.productEntry.hallFlag">Hall Flag</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="defectFlag"><span jhiTranslate="logisticsApp.productEntry.defectFlag">Defect Flag</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="virtualFlag"><span
                    jhiTranslate="logisticsApp.productEntry.virtualFlag">Virtual Flag</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="guid"><span jhiTranslate="logisticsApp.productEntry.guid">Guid</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="qty"><span jhiTranslate="logisticsApp.productEntry.qty">Qty</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="status"><span jhiTranslate="logisticsApp.productEntry.status">Status</span> <span
                    class="fa fa-sort"></span></th>
                <th jhiSortBy="receiptDocNum"><span jhiTranslate="logisticsApp.productEntry.receipt">Receipt</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="attachedCarNumber"><span jhiTranslate="logisticsApp.productEntry.attachedCar">Attached Car</span>
                    <span class="fa fa-sort"></span></th>
                <th jhiSortBy="addressStreetAddress"><span
                    jhiTranslate="logisticsApp.productEntry.address">Address</span> <span class="fa fa-sort"></span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productEntry of productEntries ;trackBy: trackId">
                <td><a [routerLink]="['../product-entry', productEntry.id ]">{{productEntry.id}}</a></td>
                <td>
                    <div *ngIf="productEntry.productId">
                        <a [routerLink]="['../product', productEntry.productId  ]">{{productEntry.productName}}</a>
                    </div>
                </td>
                <td>{{productEntry.price}}</td>
                <td jhiTranslate="{{'logisticsApp.SalesType.' + productEntry.deliveryFlag}}">
                    {{productEntry.deliveryFlag}}
                </td>
                <td jhiTranslate="{{'logisticsApp.SalesPlace.' + productEntry.hallFlag}}">{{productEntry.hallFlag}}</td>
                <td jhiTranslate="{{'logisticsApp.DefectFlag.' + productEntry.defectFlag}}">
                    {{productEntry.defectFlag}}
                </td>
                <td jhiTranslate="{{'logisticsApp.VirtualFlag.' + productEntry.virtualFlag}}">
                    {{productEntry.virtualFlag}}
                </td>
                <td>{{productEntry.guid}}</td>
                <td>{{productEntry.qty}}</td>
                <td jhiTranslate="{{'logisticsApp.ReceiptStatus.' + productEntry.status}}">{{productEntry.status}}</td>
                <td>
                    <div *ngIf="productEntry.receiptId">
                        <a [routerLink]="['../receipt', productEntry.receiptId  ]">{{productEntry.receiptDocNum}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productEntry.attachedCarId">
                        <a [routerLink]="['../car', productEntry.attachedCarId  ]">{{productEntry.attachedCarNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productEntry.addressId">
                        <a [routerLink]="['../address', productEntry.addressId  ]">{{productEntry.addressStreetAddress}}</a>
                    </div>
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product-entry', productEntry.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-entry/'+ productEntry.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-entry/'+ productEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-xs-center" *ngIf="productEntries && productEntries.length">
        <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
</div>
