
<div *ngIf="productEntry">
    <h2><span jhiTranslate="logisticsApp.productEntry.detail.title">Product Entry</span> {{productEntry.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="logisticsApp.productEntry.price">Price</span></dt>
        <dd>
            <span>{{productEntry.price}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.deliveryFlag">Delivery Flag</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.SalesType.' + productEntry.deliveryFlag}}">{{productEntry.deliveryFlag}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.hallFlag">Hall Flag</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.SalesPlace.' + productEntry.hallFlag}}">{{productEntry.hallFlag}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.defectFlag">Defect Flag</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.DefectFlag.' + productEntry.defectFlag}}">{{productEntry.defectFlag}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.virtualFlag">Virtual Flag</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.VirtualFlag.' + productEntry.virtualFlag}}">{{productEntry.virtualFlag}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.reason">Reason</span></dt>
        <dd>
            <span>{{productEntry.reason}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.comment">Comment</span></dt>
        <dd>
            <span>{{productEntry.comment}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.guid">Guid</span></dt>
        <dd>
            <span>{{productEntry.guid}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.qty">Qty</span></dt>
        <dd>
            <span>{{productEntry.qty}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.discount">Discount</span></dt>
        <dd>
            <span>{{productEntry.discount}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'logisticsApp.ReceiptStatus.' + productEntry.status}}">{{productEntry.status}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.cancelled">Cancelled</span></dt>
        <dd>
            <span>{{productEntry.cancelled}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.serialNumber">Serial Number</span></dt>
        <dd>
            <span>{{productEntry.serialNumber}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.attachedToCarTime">Attached To Car Time</span></dt>
        <dd>
            <span>{{productEntry.attachedToCarTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.deliveryStartTime">Delivery Start Time</span></dt>
        <dd>
            <span>{{productEntry.deliveryStartTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.deliveryEndTime">Delivery End Time</span></dt>
        <dd>
            <span>{{productEntry.deliveryEndTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.product">Product</span></dt>
        <dd>
            <div *ngIf="productEntry.productId">
                <a [routerLink]="['/product', productEntry.productId]">{{productEntry.productName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.sellerID">Seller ID</span></dt>
        <dd>
            <div *ngIf="productEntry.sellerIDId">
                <a [routerLink]="['/seller', productEntry.sellerIDId]">{{productEntry.sellerIDSellerID}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.receipt">Receipt</span></dt>
        <dd>
            <div *ngIf="productEntry.receiptId">
                <a [routerLink]="['/receipt', productEntry.receiptId]">{{productEntry.receiptDocNum}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.driver">Driver</span></dt>
        <dd>
            <div *ngIf="productEntry.driverId">
                <a [routerLink]="['/driver', productEntry.driverId]">{{productEntry.driverLastName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.attachedCar">Attached Car</span></dt>
        <dd>
            <div *ngIf="productEntry.attachedCarId">
                <a [routerLink]="['/car', productEntry.attachedCarId]">{{productEntry.attachedCarNumber}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.address">Address</span></dt>
        <dd>
            <div *ngIf="productEntry.addressId">
                <a [routerLink]="['/address', productEntry.addressId]">{{productEntry.addressStreetAddress}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.attachedToDriverBy">Attached To Driver By</span></dt>
        <dd>
            {{productEntry.attachedToDriverByLogin}}
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.deliveryItemsSentBy">Delivery Items Sent By</span></dt>
        <dd>
            {{productEntry.deliveryItemsSentByLogin}}
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.markedAsDeliveredBy">Marked As Delivered By</span></dt>
        <dd>
            {{productEntry.markedAsDeliveredByLogin}}
        </dd>
        <dt><span jhiTranslate="logisticsApp.productEntry.companyId">Company</span></dt>
        <dd>
            <div *ngIf="productEntry.companyId">
                <a [routerLink]="['/company', productEntry.companyId]">{{productEntry.companyName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product-entry/'+ productEntry.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
