<div *ngIf="driver">
    <h2><span jhiTranslate="logisticsApp.driver.detail.title">Driver</span> {{driver.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="logisticsApp.driver.phone">Phone</span></dt>
        <dd>
            <span>{{driver.phone}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.driver.address">Address</span></dt>
        <dd>
            <span>{{driver.address}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.driver.firstName">First Name</span></dt>
        <dd>
            <span>{{driver.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.driver.lastName">Last Name</span></dt>
        <dd>
            <span>{{driver.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.driver.mobileId">Mobile Id</span></dt>
        <dd>
            <span>{{driver.mobileId}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.driver.deleted-flag">Deleted</span></dt>
        <dd>
            <span>{{driver.deleted}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.driver.cars">Cars</span></dt>
        <dd>
            <span *ngFor="let cars of driver.cars; let last = last">
                <a [routerLink]="['/car', cars?.id ]">{{cars.number}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
