<div>
    <h2><span jhiTranslate="logisticsApp.phoneNumber.home.title">Phone Numbers</span>
        <button class="btn btn-primary float-xs-right create-phone-number" [routerLink]="['/', { outlets: { popup: ['phone-number-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="logisticsApp.phoneNumber.home.createLabel">
            Create new Phone Number
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="phoneNumbers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="number"><span jhiTranslate="logisticsApp.phoneNumber.number">Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="client.id"><span jhiTranslate="logisticsApp.phoneNumber.client">Client</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let phoneNumber of phoneNumbers ;trackBy: trackId">
                <td><a [routerLink]="['../phone-number', phoneNumber.id ]">{{phoneNumber.id}}</a></td>
                <td>{{phoneNumber.number}}</td>
                <td>
                    <div *ngIf="phoneNumber.client">
                        <a [routerLink]="['../client', phoneNumber.client?.id ]" >{{phoneNumber.client?.id}}</a>
                    </div>
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../phone-number', phoneNumber.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'phone-number/'+ phoneNumber.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'phone-number/'+ phoneNumber.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-xs-center" *ngIf="phoneNumbers && phoneNumbers.length">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
</div>
