
<div *ngIf="car">
    <h2><span jhiTranslate="logisticsApp.car.detail.title">Car</span> {{car.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="logisticsApp.car.number">Number</span></dt>
        <dd>
            <span>{{car.number}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.car.deleted">Deleted</span></dt>
        <dd>
            <span>{{car.deleted}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.car.carModel">Car Model</span></dt>
        <dd>
            <div *ngIf="car.carModelId">
                <a [routerLink]="['car-model', car.carModelId]">{{car.carModelName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.car.carColor">Car Color</span></dt>
        <dd>
            <div *ngIf="car.carColorId">
                <a [routerLink]="['car-color', car.carColorId]">{{car.carColorName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="logisticsApp.car.type">Type</span></dt>
        <dd>
            <div *ngIf="car.typeId">
                <a [routerLink]="['car-type', car.typeId]">{{car.typeName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
