<div *ngIf="car">
    <h2><span jhiTranslate="logisticsApp.car.detail.title">Car</span> {{car.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="col-md-12" *ngIf="car" id="print-section">
        <h1>{{car.number}}</h1>
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th jhiTranslate="logisticsApp.productEntry.detail.title">Product Entry</th>
                <th jhiTranslate="logisticsApp.productEntry.price">Price</th>
                <th jhiTranslate="logisticsApp.productEntry.qty">Qty</th>
                <th jhiTranslate="logisticsApp.productEntry.defectFlag">Defect Flag</th>
                <th jhiTranslate="logisticsApp.productEntry.hallFlag">Hall Flag</th>
                <th jhiTranslate="logisticsApp.productEntry.receipt">Receipt</th>
                <th jhiTranslate="logisticsApp.productEntry.deliveryFlag">Delivery Flag</th>
                <th jhiTranslate="logisticsApp.productEntry.address">Address</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of car.productEntries">
                <td>{{product.product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.qty}}</td>
                <td jhiTranslate="{{'logisticsApp.DefectFlag.'+product.defectFlag}}">{{product.defectFlag}}</td>
                <td jhiTranslate="{{'logisticsApp.SalesPlace.' + product.hallFlag}}">{{product.hallFlag}}</td>
                <td>{{product.receiptDocId}}</td>
                <td jhiTranslate="{{'logisticsApp.SalesType.'+product.deliveryFlag}}">{{product.deliveryFlag}}</td>
                <td>{{product.address.streetAddress}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" class="btn btn-primary" (click)="printBlock()">
        <span class="fa fa-print"></span>&nbsp;<span jhiTranslate="entity.action.print"> Edit</span>
    </button>
</div>
