<div>
    <h2>
        <span jhiTranslate="logisticsApp.car.home.title">Cars</span>
        <button class="btn btn-primary float-right create-car" [routerLink]="['/', { outlets: { popup: ['car-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="logisticsApp.car.home.createLabel">
            Create new Car
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cars">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="number"><span jhiTranslate="logisticsApp.car.number">Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deleted"><span jhiTranslate="logisticsApp.car.deleted">Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="logisticsApp.car.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="carModelName"><span jhiTranslate="logisticsApp.car.carModel">Car Model</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="carColorName"><span jhiTranslate="logisticsApp.car.carColor">Car Color</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="typeName"><span jhiTranslate="logisticsApp.car.type">Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars ;trackBy: trackId">
                <td><a [routerLink]="['../car', car.id ]">{{car.id}}</a></td>
                <td>{{car.number}}</td>
                <td>{{car.deleted}}</td>
                <td jhiTranslate="{{'logisticsApp.CarStatus.' + car.status}}">{{car.status}}</td>
                <td>
                    <div *ngIf="car.carModelId">
                        <a [routerLink]="['../car-model', car.carModelId  ]" >{{car.carModelName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="car.carColorId">
                        <a [routerLink]="['../car-color', car.carColorId  ]" >{{car.carColorName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="car.typeId">
                        <a [routerLink]="['../car-type', car.typeId  ]" >{{car.typeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../car', car.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/delivery-products'} }]"
                                replaceUrl="true"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="cars && cars.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
