
<div *ngIf="product">
    <h2><span jhiTranslate="logisticsApp.product.detail.title">Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="logisticsApp.product.sapCode">Sap Code</span></dt>
        <dd>
            <span>{{product.sapCode}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.product.sapType">Sap Type</span></dt>
        <dd>
            <span>{{product.sapType}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.product.name">Name</span></dt>
        <dd>
            <span>{{product.name}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.product.uom">Uom</span></dt>
        <dd>
            <span>{{product.uom}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.product.width">Width</span></dt>
        <dd>
            <span>{{product.width}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.product.length">Length</span></dt>
        <dd>
            <span>{{product.length}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.product.height">Height</span></dt>
        <dd>
            <span>{{product.height}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.product.weight">Weight</span></dt>
        <dd>
            <span>{{product.weight}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
