
<div *ngIf="locationType">
    <h2><span jhiTranslate="logisticsApp.locationType.detail.title">Location Type</span> {{locationType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="logisticsApp.locationType.name">Name</span></dt>
        <dd>
            <span>{{locationType.name}}</span>
        </dd>
        <dt><span jhiTranslate="logisticsApp.locationType.description">Description</span></dt>
        <dd>
            <span>{{locationType.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'location-type/'+ locationType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
